* {
  margin: 0;
  padding: 0;
}

:root {
  --main-font-color: #ffffff;
  --secondary-font-color: #f7f7f7;
  --third-font-color: #28a263;
  --fourth-color: #c0f497;
  --fifth-font-color: #808080;
}

body {
  /* background-color: #070708; */
  font-family: "Manrope", sans-serif;
  background-color: #000;
  font-family: "Urbanist", sans-serif;
}


@font-face {
  font-family: myFont;
  src: url('./fonts/one.otf');
}
